@charset "UTF-8";
$column: 1em !default; // Column width
$gutter: 1em !default; // Gutter between each two columns
$grid-columns: 12 !default; // Total number of columns in the grid
$max-width: em(1400) !default; // Max-width of the outer container
$border-box-sizing: true !default; // Makes all elements have a border-box layout
$default-feature: min-width; // Default @media feature for the breakpoint() mixin
$default-layout-direction: LTR !default;
$page-width: 1600px; //page-wrapper max-width
$oversized-break : 1400px;
$fullwidth-break : 1200px;
$tablet-break : 1024px;
$medium-break : 768px;
$phablet-break : 720px;
$phone-break : 480px;
$menu-break: 890px;
$menu-item-collapse: 1080px;
