/* Variables */

/* Navigation */
.logged-in{
	.top-bar-container {
	top: 27px;
	}
}
#top-nav .nav-bar {
	margin-top: 0;
}


/* Sidebar */
.sidebar > li {
	list-style: none;
}

#top-nav {
	.menu_home, .menu_faq, .menu_register, .menu_manifesto, .menu_news, .menu_contact {
		a, a:focus, a:hover{
			width: 130px; 
			height: 160px;
			background-repeat: no-repeat;
			background-color: #ffffff;
			padding: 0px 10px;
			color: #000000;
		} 
	}
}

#top-nav {
	.menu_home {
		a, a:focus, a:hover{
		background-image: url('../images/catscra130x130.jpg');
		}
	}
}

#top-nav {
	.menu_faq {
		a, a:focus, a:hover{
		background-image: url('../images/unicorn_faq130x130.jpg');
		}
	}
}

#top-nav {
	.menu_register {
		a, a:focus, a:hover{
		background-image: url('../images/crane_register130x130.jpg');
		}
	}
}

#top-nav {
	.menu_manifesto {
		a, a:focus, a:hover{
		background-image: url('../images/manifesto130x130.jpg');
		}
	}
}

#top-nav {
	.menu_news {
		a, a:focus, a:hover{
		background-image: url('../images/bike_news130x130.jpg');
		}
	}
}

#top-nav {
	.menu_contact {
		a, a:focus, a:hover{
		background-image: url('../images/keyboard_contact130x130.jpg');
		}
	}
}

/* Options for Navigation on Small Screens */

@media only screen and (max-width: 767px) {
	#top-nav {
		.menu_home, .menu_faq, .menu_register, .menu_manifesto, .menu_news, .menu_contact {
			a, a:focus, a:hover{
				background-image: none;
				width: 130px; 
				background-repeat: no-repeat;
				background-color: #ffffff;
				padding: 0px 10px;
				color: #000000;
					} 
				}
			}
  		}


@media only screen and (max-width: 767px) {
		.nav-bar {
			.menu_text {
				padding-top: 0px;
				font-size: 1.5em;
				text-align: center;

			}
		}
	}

.nav-bar {
background: none;
height: 160px;
}


.nav-bar > {
	li {
	margin-right: 25px;
	border: none;
	}
}

.nav-bar > li.active {
background: none;
border-color: none;
}

.nav-bar > li.hover {
background: none;
border-color: none;
}

.nav-bar > li.active:hover {
background: none;
border-color: none;
}

.nav-bar > li:hover {
background: none;
border-color: none;
}

.nav-bar > {
	li:last-child {
	border: none;
	}
}

.nav-bar {
	.menu_text {
		padding-top: 130px;
		font-size: 1.5em;
		text-align: center;
		
	}
}

/*End Navigation */

/* Header */

header {
.logo {
	img {
	margin-top: 20px;
		}
	}
}

header {
 .header_description {
	p {
	font-family: 'Eagle Lake', cursive;
	font-size: 18px;
		}
	}
}
/*End Header*/

/*Social */

ul.menu {
clear: both;
}

	ul.menu {
		li {
			float: left;
			margin: 5px;
			list-style: none;
			height: 75px;
			width: 75px;
		}
	}	




ul.menu {
		li.facebook {	
			a 	{
				display: block;
				text-indent: -9999px;
				width: 75px;
				height: 75px;
		  		background-image: url(../images/facebook75x75.png);
				}
		}
}

ul.menu {
		li.google {
			a {
				display: block;
				text-indent: -9999px;
				width: 75px;
		  		height: 75px;
		  		background-image: url('../images/google-plus75x75.png');
			}
		}
}

ul.menu {
		li.twitter {
			a {
				display: block;
				text-indent: -9999px;
				width: 75px;
		  		height: 75px;
		  		background-image: url('../images/twitter75x75.png');
			}
		}
}

ul.menu {
		li.email {
			a {
				display: none;
			}
		}
}
		

/*End Social*/

/*Modal Buttons */
.modal_btn {
	-moz-box-shadow:inset 0px 1px 0px 0px #fcfcfc;
	-webkit-box-shadow:inset 0px 1px 0px 0px #fcfcfc;
	box-shadow:inset 0px 1px 0px 0px #fcfcfc;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #0088ad), color-stop(1, #2ba6cb) );
	background:-moz-linear-gradient( center top, #0088ad 5%, #2ba6cb 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0088ad', endColorstr='#2ba6cb');
	background-color:#0088ad;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:19px;
	font-weight:bold;
	padding:10px 29px;
	text-decoration:none;
	text-shadow:1px 1px 0px #454545;
}.modal_btn:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #2ba6cb), color-stop(1, #0088ad) );
	background:-moz-linear-gradient( center top, #2ba6cb 5%, #0088ad 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#2ba6cb', endColorstr='#0088ad');
	background-color:#2ba6cb;
}.modal_btn:active {
	position:relative;
	top:1px;
}
/* This imageless css button was generated by CSSButtonGenerator.com */
/*End Modals */

/*Home Page*/

.home_content {

		background: url('../images/jetbike_552x363.jpg') no-repeat top right;
}

.home_content {
	p:first-child {
	padding-right: 112px;
	}
}

.home_content {
	p:nth-child(2) {
		padding-right: 484px;
	}
}

@media only screen and (max-width: 767px) {
		.home_content {
			background: none;

			}
		}

@media only screen and (max-width: 767px) {
		.home_content {
			p:first-child {
				padding: 0;

			}
		}
	}

@media only screen and (max-width: 767px) {
		.home_content {
			p:nth-child(2) {
				padding: 0;

			}
		}
	}	
	