/* Variables */

/* Navigation */
.logged-in{
	.top-bar-container {
	top: 27px;
	}
}
#top-nav .nav-bar {
	margin-top: 0;
}


/* Sidebar */
.sidebar > li {
	list-style: none;
}

#top-nav {
	.menu-item {
		a, a:focus, a:hover{
			width: 130px; 
			height: 160px;
			background-repeat: no-repeat;
			background-color: #ffffff;
			padding: 122px 10px;
			margin: 0 auto -160px;
			color: #000000;
			text-align: center;
			font-size: 1.7em;
		} 
	}
}


	.menu_home {
		a, a:focus, a:hover{
		background-image: url('../images/catscra130x130.jpg');
		}
	}



	.menu_faq {
		a, a:focus, a:hover{
		background-image: url('../images/unicorn_faq130x130.jpg');
		}
	}

	.menu_register {
		a, a:focus, a:hover{
		background-image: url('../images/crane_register130x130.jpg');
		}
	}

	.menu_manifesto {
		a, a:focus, a:hover{
		background-image: url('../images/manifesto130x130.jpg');
		}
	}

	.menu_news {
		a, a:focus, a:hover{
		background-image: url('../images/bike_news130x130.jpg');
		}
	}

	.menu_contact {
		a, a:focus, a:hover{
		background-image: url('../images/keyboard_contact130x130.jpg');
		}
}

.nav-bar {
background: none;
height: 160px;
}


.nav-bar > {
	li {
	margin-right: 25px;
	border: none;
	}
}

.nav-bar > li.active {
background: none;
border-color: none;
}

.nav-bar > li.hover {
background: none;
border-color: none;
}

.nav-bar > li.active:hover {
background: none;
border-color: none;
}

.nav-bar > li:hover {
background: none;
border-color: none;
}

.nav-bar > {
	li:last-child {
	border: none;
	}
}

.nav-bar {
	.menu_text {
		padding-top: 130px;
		font-size: 1.5em;
		text-align: center;
		
	}
}

/*End Navigation */

/* Header */

header {
.logo {
	img {
	margin-top: 20px;
		}
	}
}

header {
 .header_description {
	p {
	font-family: 'Cinzel Decorative', cursive;
	font-weight: bold;
	font-size: 2.2em;
		}
	}
}
/*End Header*/

/*Social */

ul.menu {
clear: both;
}

	ul.menu {
		li {
			margin: 5px;
			list-style: none;
			height: 50px;
			width: 50px;
		}
	}	





ul.accordion {

		&.social {
			-webkit-transition: all 1s ease-in-out;
			min-width:  600px;
			position: relative;
			border:  0;
			margin-left: -10px;
			&:hover {
			margin-left:-600px;
			
			}
			.facebook.active .content {
				overflow:  visible !important;
			
			}
			> li {
			 border-top:  0;
			 border-bottom: 0;
				
				
			
		.title {
			border-left: 0;
			border-right:0;
			background:  #fff;
			&::after {
				border-width: 14px;
				top:  26px;
				right:  25px;
				}
			h5 {
				display: block;
				text-indent: 65px;
				line-height: 1.7em;
				font-family: 'Cinzel Decorative', cursive;
				font-weight: bold;
				font-size: 2.2em;
				width: 50px;
				height: 50px;
			
			}
			
		}
		&.facebook{
			h5{	
				background-image: url("../images/facebook50x50.png");
			}
		}
		&.google {
			h5{
				background-image: url("../images/google-plus50x50.png");
			}
		}
		&.twitter {
			h5{
				background-image: url("../images/twitter50x50.png");
			}
		}
		&.newsletter {
			h5{
				background-image: url("../images/email-list50x50.png");
			}
		}
		
		.content {
			 border-left: 0;
			 border-right:0;
		}
		
		}
		
		
	}
	
}
/*End Social*/


/*Modal Buttons */
.modal_btn {
	-moz-box-shadow:inset 0px 1px 0px 0px #858585;
	-webkit-box-shadow:inset 0px 1px 0px 0px #858585;
	box-shadow:inset 0px 1px 0px 0px #858585;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #3d3d3d), color-stop(1, #000000) );
	background:-moz-linear-gradient( center top, #3d3d3d 5%, #000000 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d3d3d', endColorstr='#000000');
	background-color:#3d3d3d;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #949494;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:18px;
	font-weight:bold;
	padding:9px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #949494;
}.classname:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #000000), color-stop(1, #3d3d3d) );
	background:-moz-linear-gradient( center top, #000000 5%, #3d3d3d 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#3d3d3d');
	background-color:#000000;
}.classname:active {
	position:relative;
	top:1px;
}
/* This imageless css button was generated by CSSButtonGenerator.com */
/*End Modals */

/*Content area*/

#main-content-area {
	padding-bottom: 40px;
	overflow: hidden;
}
/*Home Page*/

.home_content p{

	text-align: justify;

}

/* Options for Navigation on Small Screens */

@media only screen and (max-width: 767px) {
	#top-nav {
		.menu_home, .menu_faq, .menu_register, .menu_manifesto, .menu_news, .menu_contact {
			a, a:focus, a:hover{
				background-image: none;
				width: 130px; 
				height:  auto;
				margin: 0 auto;
				background-repeat: no-repeat;
				background-color: #ffffff;
				padding: 0px 10px;
				color: #000000;
					} 
				}
			}

		.nav-bar {
			height: auto;
			.menu_text {
				padding-top: 0px;
				font-size: 1.1em;
				text-align: center;

			}
		}
		/* Social ACCORDION */
		ul.accordion {
				&.social {
					max-width:  330px;
					border:  0;
					margin-left: 0px;
					&:hover {
					margin-left:0px;
					}
				}
				
			}
			
		/*End Social*/
		
		
	}

	