/* Variables */
/* Navigation */
/* line 5, sass/app.scss */
.logged-in .top-bar-container {
  top: 27px;
}

/* line 9, sass/app.scss */
#top-nav .nav-bar {
  margin-top: 0;
}

/* Sidebar */
/* line 15, sass/app.scss */
.sidebar > li {
  list-style: none;
}

/* line 21, sass/app.scss */
#top-nav .menu_home a, #top-nav .menu_home a:focus, #top-nav .menu_home a:hover, #top-nav .menu_faq a, #top-nav .menu_faq a:focus, #top-nav .menu_faq a:hover, #top-nav .menu_register a, #top-nav .menu_register a:focus, #top-nav .menu_register a:hover, #top-nav .menu_manifesto a, #top-nav .menu_manifesto a:focus, #top-nav .menu_manifesto a:hover, #top-nav .menu_news a, #top-nav .menu_news a:focus, #top-nav .menu_news a:hover, #top-nav .menu_contact a, #top-nav .menu_contact a:focus, #top-nav .menu_contact a:hover {
  width: 130px;
  height: 160px;
  background-repeat: no-repeat;
  background-color: #ffffff;
  padding: 0px 10px;
  color: #000000;
}

/* line 34, sass/app.scss */
#top-nav .menu_home a, #top-nav .menu_home a:focus, #top-nav .menu_home a:hover {
  background-image: url("../images/catscra130x130.jpg");
}

/* line 42, sass/app.scss */
#top-nav .menu_faq a, #top-nav .menu_faq a:focus, #top-nav .menu_faq a:hover {
  background-image: url("../images/unicorn_faq130x130.jpg");
}

/* line 50, sass/app.scss */
#top-nav .menu_register a, #top-nav .menu_register a:focus, #top-nav .menu_register a:hover {
  background-image: url("../images/crane_register130x130.jpg");
}

/* line 58, sass/app.scss */
#top-nav .menu_manifesto a, #top-nav .menu_manifesto a:focus, #top-nav .menu_manifesto a:hover {
  background-image: url("../images/manifesto130x130.jpg");
}

/* line 66, sass/app.scss */
#top-nav .menu_news a, #top-nav .menu_news a:focus, #top-nav .menu_news a:hover {
  background-image: url("../images/bike_news130x130.jpg");
}

/* line 74, sass/app.scss */
#top-nav .menu_contact a, #top-nav .menu_contact a:focus, #top-nav .menu_contact a:hover {
  background-image: url("../images/keyboard_contact130x130.jpg");
}

/* Options for Navigation on Small Screens */
@media only screen and (max-width: 767px) {
  /* line 85, sass/app.scss */
  #top-nav .menu_home a, #top-nav .menu_home a:focus, #top-nav .menu_home a:hover, #top-nav .menu_faq a, #top-nav .menu_faq a:focus, #top-nav .menu_faq a:hover, #top-nav .menu_register a, #top-nav .menu_register a:focus, #top-nav .menu_register a:hover, #top-nav .menu_manifesto a, #top-nav .menu_manifesto a:focus, #top-nav .menu_manifesto a:hover, #top-nav .menu_news a, #top-nav .menu_news a:focus, #top-nav .menu_news a:hover, #top-nav .menu_contact a, #top-nav .menu_contact a:focus, #top-nav .menu_contact a:hover {
    background-image: none;
    width: 130px;
    background-repeat: no-repeat;
    background-color: #ffffff;
    padding: 0px 10px;
    color: #000000;
  }
}
@media only screen and (max-width: 767px) {
  /* line 100, sass/app.scss */
  .nav-bar .menu_text {
    padding-top: 0px;
    font-size: 1.5em;
    text-align: center;
  }
}
/* line 109, sass/app.scss */
.nav-bar {
  background: none;
  height: 160px;
}

/* line 116, sass/app.scss */
.nav-bar > li {
  margin-right: 25px;
  border: none;
}

/* line 122, sass/app.scss */
.nav-bar > li.active {
  background: none;
  border-color: none;
}

/* line 127, sass/app.scss */
.nav-bar > li.hover {
  background: none;
  border-color: none;
}

/* line 132, sass/app.scss */
.nav-bar > li.active:hover {
  background: none;
  border-color: none;
}

/* line 137, sass/app.scss */
.nav-bar > li:hover {
  background: none;
  border-color: none;
}

/* line 143, sass/app.scss */
.nav-bar > li:last-child {
  border: none;
}

/* line 149, sass/app.scss */
.nav-bar .menu_text {
  padding-top: 130px;
  font-size: 1.5em;
  text-align: center;
}

/*End Navigation */
/* Header */
/* line 163, sass/app.scss */
header .logo img {
  margin-top: 20px;
}

/* line 171, sass/app.scss */
header .header_description p {
  font-family: 'Eagle Lake', cursive;
  font-size: 18px;
}

/*End Header*/
/*Social */
/* line 181, sass/app.scss */
ul.menu {
  clear: both;
}

/* line 186, sass/app.scss */
ul.menu li {
  margin: 5px;
  list-style: none;
  height: 50px;
  width: 50px;
}

/* line 199, sass/app.scss */
ul.menu li.facebook a {
  display: block;
  text-indent: -9999px;
  width: 50px;
  height: 50px;
  background-image: url(../images/facebook50x50.png);
}

/* line 211, sass/app.scss */
ul.menu li.google a {
  display: block;
  text-indent: -9999px;
  width: 50px;
  height: 50px;
  background-image: url("../images/google-plus50x50.png");
}

/* line 223, sass/app.scss */
ul.menu li.twitter a {
  display: block;
  text-indent: -9999px;
  width: 50px;
  height: 50px;
  background-image: url("../images/twitter50x50.png");
}

/* line 235, sass/app.scss */
ul.menu li.email a {
  display: none;
}

/*End Social*/
/*Modal Buttons */
/* line 245, sass/app.scss */
.modal_btn {
  -moz-box-shadow: inset 0px 1px 0px 0px #fcfcfc;
  -webkit-box-shadow: inset 0px 1px 0px 0px #fcfcfc;
  box-shadow: inset 0px 1px 0px 0px #fcfcfc;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0088ad), color-stop(1, #2ba6cb));
  background: -moz-linear-gradient(center top, #0088ad 5%, #2ba6cb 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0088ad', endColorstr='#2ba6cb');
  background-color: #0088ad;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid #dcdcdc;
  display: inline-block;
  color: #ffffff;
  font-family: arial;
  font-size: 19px;
  font-weight: bold;
  padding: 10px 29px;
  text-decoration: none;
  text-shadow: 1px 1px 0px #454545;
}

/* line 265, sass/app.scss */
.modal_btn:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #2ba6cb), color-stop(1, #0088ad));
  background: -moz-linear-gradient(center top, #2ba6cb 5%, #0088ad 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2ba6cb', endColorstr='#0088ad');
  background-color: #2ba6cb;
}

/* line 270, sass/app.scss */
.modal_btn:active {
  position: relative;
  top: 1px;
}

/* This imageless css button was generated by CSSButtonGenerator.com */
/*End Modals */
/*Home Page*/
