/* Variables */
/* Navigation */
/* line 5, sass/app.scss */
.logged-in .top-bar-container {
  top: 27px;
}

/* line 9, sass/app.scss */
#menu-main-menu.nav-bar {
  margin-top: 0;
}

/* Sidebar */
/* line 15, sass/app.scss */
.sidebar > li {
  list-style: none;
}
